*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #BCD2EE;
}

.container{
  margin: 3rem;
  
}
.container h1{
  text-align: center;
  margin-bottom: 2rem;
  color: #028090;
}
.maindiv{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.maindiv label{
  padding: 10px;
  font-size: 20px;
}
.maindiv input{
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
}
.maindiv button{
  padding: 7px;
  border-radius: 20px;
  border: 2px solid grey;
  background-color: #F4F1BB;
}
.Paragraph-container{
  margin: 20px;
}
